# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Uploaded images / user data
static/uploads/

# Jupyter / IDE
.ipynb_checkpoints/
*.log

# OS files
.DS_Store
Thumbs.db
